header{
    margin-left: 140px;
    margin-right: 140px;
}

main{
    margin-left: 140px;
    margin-right: 140px;
}

.banner{
    /* margin-left: 140px;
    margin-right: 140px; */
    height: 600px;
    margin-top: 50px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    /* opacity: .95; */
    background-image: url("images/Banner Image.png");
    background-repeat: no-repeat;
    background-position: center;
}

.banner-text-small{
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 175px;
}

.banner-text-large{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.discount{
    margin-top: 120px;
    margin-left: 400px;
    margin-right: 400px;
}

/* .discount-texts{
   align-items: center;
} */

.discount-amount{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-lure{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

#ac{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.welcome-container{
    margin-top: 125px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 120px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    height: 600px;
    background-image: url("images/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-head{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    width: 642px;
    padding: 126px 552px 0px 126px;
}

.welcome-text{
    color: white;
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    padding: 0px 497px 0px 125px;
}

#btn-primary{
    margin-left: 126px;
    color: white;
    background: black;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
}

.venue-container{
    margin-top: 0px;
    margin-bottom: 120px;
    margin-left: 140px;
    margin-right: 140px;
    background: rgb(219, 168, 168);
    height: 482px;
    /* opacity: .25; */
}

.venue-info{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;
    /* padding-left: 100px; */
}



.btn-venue{
    padding-left: 576px;
    color: #F00;
}

#btn{
    height: 56px;
    width: 167px;
    background: #F00;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.new-offer-container{
    display: flex;
    margin-top: 0;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-left: 140px;
    width: 1320px;
}

.new-offer-info{
    padding-left: 0px;
    padding-right: 220px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 300;
}

.new-offer-cs{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.new-offer-details{
    max-width: 400px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-right: 50px;
}

.happy-customers{
    padding-right: 200px;
}

.gift-images-container{
    margin-top: 0;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-left: 140px;
    width: 1320px;
}

.gift-heading-1{
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-heading-2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.gift-paragraph{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}


.newsletter-container{
    height: 616px;
    margin-top: 0px;
    margin-right: 140px;
    margin-bottom: 120px;
    margin-left: 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter-image{
    padding-top: 80px;
    padding-right: 585px;
    padding-bottom: 40px;
    padding-left: 585px;
}

.subscribe-heading{
    padding-right: 404px;
    padding-left: 404px;
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.subscribe-paragraph{
    padding-right: 212px;
    padding-left: 212px;    
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}


/* 

I don't have time to edit all my codes.
I just learned how to center a div
from youtube.
I'll use this idea to rewrite this code 
later.

Self-note: Take it easy on yourself. Looking up might save time.

*/

.email-for-newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 500px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.sub-btn{
    width: 150px;
    height: 80px;
    background:red;
    color:white;
    border-radius: 0px 50px 50px 0px;
}